		.branco {
			color: white;
		}

		.preto {
			color: black;
		}

		.Borda {
			border: 5px groove #54260d;
			padding: 3px;
		}

		.borda-texto {
			display: inline-block;
			border: 4px solid white;
			padding: 20px;
			margin: 10px;
			border-radius: 10px;
			background: black;
			text-decoration: none;
		}

		.centralizar {
			text-align: center;
			background-position: center;
			margin: auto;
		}

		.listas {
			display: flex;
			justify-content: space-around;
			gap: 20px;
		}


		.t30px {
			font-size: 30px;
		}

		.esquerda {
			text-align: left;
			left: 1px;
		}

		.t20px {
			font-size: 20px;
		}

		.noscroll {
			background-attachment: fixed;
		}

		.inline {
			border: 5px groove #8b4513;
			padding: 5px;
			display: inline-block;
		}

		.t40px {
			font-size: 40px;
		}

		.t50px {
			font-size: 50px;
		}

		.direita {
			text-align: right;
			right: 1px;
		}

		.relative {
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 430px;
			right: 0px;
		}

		.direita {
			text-align: right;
		}

		.backgroundblack {
			background: black;
		}

		.hover {
			a:hover {
				background-position: right bottom;
			}

			a:hover {
				color: red;
				background: black;
			}

			a:active {
				color: #b55c2c;
			}
		}

		.menu {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				padding: 5px 20px;
			}

			ul a {
				width: 190px;
				height: 40px;
				display: block;
				color: black;
				text-decoration: none;
				text-indent: 40px;
				line-height: 40px;
				border: 3px solid black;
				background: url(imagens/menu.png) no-repeat left bottom;
			}

			a:hover {
				background-position: right bottom;
			}
		}

		fieldset {
			padding: 1em;
			border: 2px solid saddlebrown;
		}

		legend {
			font-weight: bolder;
		}

		label {
			display: block;
			cursor: pointer;
		}

		textarea {
			width: 200px;
			height: 100px;
		}

		input.radio,
		input.chechbox,
		input.submit {
			width: auto;
		}

		#ct {
			width: 400px;
			height: 300px;
			background-color: rgba(255, 255, 255, 0.3);
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin: 0;
			margin-top: 120px;
		}

		#ct img {
			width: 120px;
			height: 120px;
			margin-top: -60px;
			margin-bottom: 30px;
		}

		.img {
			image-rendering: 100px;
		}

		a {
			color: white;
		}

		h2 {
			color: white;
		}

		a:hover {
			color: red;
		}

		a:active {
			color: #b55c2c;
		}

		a {
			text-decoration: none;
		}

		.wow {
			width: 150px;
			text-align: center;
		}

		input.this {
			height: 40px;
			width: 80%;
			font-size: 16px;
			margin-bottom: 10px;
			background-color: white;
			padding-left: 40px;
			border: none;
			background-repeat: no-repeat;
			background-position: 10px;
		}

		input.nome {
			background-image: url(imagens/icone-usuario.png);
		}

		input.email {
			background-image: url(imagens/email.png);
		}

		input.senha {
			background-image: url(imagens/senha.png);
		}

		input.comentario {
			background-image: url(imagens/comentario.png);
		}

		input.cadeado{
			background-image: url(imagens/icone-cadeado.png);
		}

		input.submit {
			color: white;
			background-color: #54260d;
			border: 2px solid white;
		}

		.BIGSHOT {
			font-size: 30px;
			margin: 5px
		}

		.caixa1,
		.caixa2,
		.caixa3 {
			height: 100%;
			opacity: 1;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		.caixa1 {
			background-image: url(imagens/imagem.png);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.png);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.png);
		}

		.conteudo {
			text-align: justify;
			padding: 50px 80px;
			background: #777;
		}

		.fatal_error {
			bottom: 0;
			right: 0;

			a {
				color: red;
			}
		}

		.overflow {
			overflow-x: hidden;
		}

		.radius {
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}

		#sombraB {
			text-shadow: 15px 15px white;
		}

		#sombraP {
			text-shadow: 20px 20px black;
		}

		@keyframes animacao-estelar {
			from {
				background: linear-gradient(to right, #46220f, #704214, #aa7444);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}

			to {
				background: linear-gradient(to right, #46220f, #704214, #aa7444);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}
		}

		#estrela1 {
			width: 300px;
			height: 300px;
			animation: animacao-estelar 1s linear infinite, rotacao-estrela 10s linear infinite;
			background: linear-gradient(to right, #46220f, #704214, #aa7444);
			background-size: 200% 100%;
			background-position: center;
			-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

		}

		@keyframes animacao-estelar-subida {
			from {
				background: linear-gradient(to bottom, #fff680, #ffec00, #FFD700);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}

			to {
				background: linear-gradient(to bottom, #fff680, #ffec00, #FFD700);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}
		}

		#estrela2 {
			width: 300px;
			height: 300px;
			animation: animacao-estelar-subida 1s linear infinite, rotacao-estrela 10s linear infinite;
			background: linear-gradient(to right, #FFD700, #ffec00, #fff680);
			background-size: 200% 100%;
			background-position: center;
			-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

		}

		@keyframes animacao-estelar-reversa {
			from {
				background: linear-gradient(to right, #aa7444, #704214, #46220f);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}

			to {
				background: linear-gradient(to right, #aa7444, #704214, #46220f);
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}
		}

		#estrela3 {
			width: 300px;
			height: 300px;
			animation: animacao-estelar-reversa 1s linear infinite, rotacao-estrela 10s linear infinite;
			background: linear-gradient(to right, #aa7444, #704214, #46220f);
			background-size: 200% 100%;
			background-position: center;
			-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

		}

		.line {
			display: inline-block;
		}

		#estrela2::before,
		#estrela2::after {
			position: absolute;
			width: 20px;
			height: 30px;
			background-color: black;
			border-radius: 50% 50% 40% 40%;
			top: 35%;
			transform: translateY(-50%);
		}

		#estrela2::before {
			left: 35%;
		}

		#estrela2::after {
			right: 35%;
		}

		#transicao:hover {
			width: 500px;
			height: 100px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 65px;
		}

		#transicao2:hover {
			width: 500px;
			height: 100px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 51px;
			background-position: center;
		}

		#transicao3:hover {
			width: 500px;
			height: 100px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 46px;
		}

		#transicaolink:hover {
			transition: all 1.5s;
			font-size: 40px;
			background: white;
			color: black;
		}

		.nodots{
			text-decoration: none;
		}

		#pizzabois{
			height: 200px;
			display: flex;
			justify-content: center;
		}

		.bois{
			border: 3px solid white;
			background-color: #54260d;
			background-size: 100px;
		}